#!/bin/sh
ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
export PYTHON=${ROOT}/.venv/bin/python

# Python version should be <=3.9,>=3.6
# https://cloud.google.com/dataflow/docs/support/beam-runtime-support
export PY=${PYTHON_EXECUTABLE_PATH_WHOSE_VERSION_IS_HIGHER_THAN_3_6}

# GCP Settings where Dataflow runs
export GOOGLE_APPLICATION_CREDENTIALS=${YOUR_CREDENTIAL_FILE}
export GCS_PATH=${YOUR_GCS_PATH_FOR_DATAFLOW_TEMP_FILES}
export GCP_PROJECT=${YOUR_GCP_PROJECT}
export GCP_SERVICE_ACCOUNT=${YOUR_GCP_SERVICE_ACCOUNT_EMAIL}
export GCP_REGION=${YOUR_DATAFLOW_REGION_ENDPOINT} # e.g. us-central1
